/* components/Layout.module.css */
.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.sideMenu {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sideMenu ul {
  list-style: none;
  padding: 0;
}

.sideMenu li {
  margin-bottom: 10px;
}

.sideMenu button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sideMenu button:hover {
  background-color: #0056b3;
}

.mainContent {
  flex: 1;
  padding: 20px;
}

.bottomButtons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.loginButton,
.signupButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 45%; /* Adjust the width as needed */
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginButton:hover,
.signupButton:hover {
  background-color: #0056b3;
}
