/* components/Layout.module.css */
.appContainer {
    display: flex;
    justify-content: space-between;
    height: 100vh; /* Set the height to cover the entire viewport */
  }
  
  .sideMenu {
    width: 200px; /* Set the width of the sidebar */
    background-color: #333; /* Add your desired background color */
    color: white; /* Add your desired text color */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for the sidebar */
  }
  
  .sideMenu ul {
    list-style: none;
    padding: 0;
  }
  
  .sideMenu li {
    margin-bottom: 10px;
  }
  
  .mainContent {
    flex: 1; /* Allow the main content to expand and fill the remaining space */
    padding: 20px;
  }
  